@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
    text-align: center;
}

#login-bg {
    background-image: url("components/assets/login-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#login-form {
    padding: 50px 10px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 340px;
    background-color: white;
    border-radius: 15px;
}

.login-heading {
    font-size: 30px;
    font-weight: bolder;
}

.login-text-input input {
    width: 60%;
    height: 40px;
    border-radius: 13px;
    border: none;
    padding: 0 15px;
    font-weight: bolder;
    outline: none;
    box-shadow: 0 5px 20px #d0d0d0;
}

.login-submit-button {
    font-weight: 600;
    color: white;
    background-color: #912fd9;
    padding: 12px 18px;
    border-radius: 100px;
    outline: none;
    border: none;
    box-shadow: 0 8px 20px #ce90ff;
    transition-duration: 100ms;
}

.login-submit-button:active {
    background-color: #d92f95;
    box-shadow: 0 8px 10px #ff90aa;
}

.login-google-button {
    border-radius: 100px;
    background-color: white;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 20px #d0d0d0;
    outline: none;
    border: none;
    background-position: center;
    background-size: 35px;
    background-repeat: no-repeat;
    margin: 0 10px;
}

.login-switch-button {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    color: blueviolet;
}

#error-text {
    color: red;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}

#homepage {
    background-image: url("components/assets/home-bg-top.png");
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: #0f0545;
}

.app-bar {
    text-align: left;
    color: white;
    font-family: Quicksand, sans-serif;
    padding: 20px 40px 10px 40px;
    background-color: #1f1f1f;
    /*background-image: linear-gradient(rgba(0, 8, 90, 0.74), rgba(255, 255, 255, 0));*/
}

.app-bar h2 {
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    font-weight: 300;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

#projects-section {
    width: 70%;
    margin-top: 160px;
    position: relative;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    color: white;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.project-card {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0 15px;
    background-color: #363636;
    color: white;
    font-family: Quicksand, sans-serif;
    display: inline-block;
    height: 200px;
    width: 270px;
    font-size: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.project-card h6 {
    margin: 0;
    font-size: 25px;
    display: inline-block;
}

#project-details {
    text-align: left;
    padding: 50px 50px;
}

#project-details h3 {
    font-size: 30px;
    margin: 0;
}

#project-details h6 {
    margin: 10px 0;
    color: darkgrey;
    font-size: 20px;
}

#issues-list {
    width: 750px;
    border: #c8d4dc solid 1px;
    border-radius: 0 0 10px 10px;
}

#issues-list-top {
    margin-top: 60px;
    width: 720px;
    padding: 15px;
    border-top: #c8d4dc solid 1px;
}

#issues-list-top input {
    height: 40px;
    border: darkgrey solid 2px;
    border-radius: 7px;
}

#issues-switcher {
    margin: 0 50px;
    border: dodgerblue 2px solid;
    border-radius: 7px;
    overflow: hidden;
    position: absolute;
}

#issues-switcher button {
    background-color: white;
    height: 40px;
    width: 90px;
    border: none;
    outline: none;
    font-weight: 700;
}

#new-issue-button {
    float: right;
    height: 44px;
    outline: none;
    background-color: rgb(8, 219, 116);
    border: none;
    border-radius: 7px;
    padding-right: 14px;
    padding-left: 14px;
    color: white;
    font-weight: 700;
}

.issue-cell {
    padding: 15px;
    border-top: #c8d4dc solid 1px;
    cursor: pointer;
}

.issue-cell .title {
    font-size: 22px;
    font-weight: 700;
}

.issue-cell .subtitle {
    color: #787878;
}